@import url('https://fonts.googleapis.com/css?family=Mina|Rammetto+One');

body {
  background-color: blue;
  color: white;
  font-family: 'Mina', sans-serif;
  margin: 20px;
}
 .loginPrompt {
   width: 200px;
   height: 200px;
   overflow: hidden;
   border: 1px red solid;
 }

 #error {
   display: none;
 }

 h1 {
   text-align: center;
   font-size: 200px;
 }
