#body {
  background-color: black;
}

p {
  text-align: center;
  color: white;
  margin: 15px, 25px, 15px, 25px;
}

h1 {
  text-align: center;
}

#box {
  background-color: blue;
  height: 150px;
  width: 230px;
}

#testBox {
  background-color: gold;
  height: 150px;
  width: 250px;
}

.loginPrompt {
  margin: 10px;
  width: 200px;
  height: 100px;
  text-align:center;
}

button {
  width:auto;
  height:auto;
  background-color: red;
  font-weight: bold;
  border-radius: 25px;
}

button:hover {
  color: white;
}

button:active {
  background-color: blue;
}

input {
  margin:10px;
}

form {
  border: 1px red solid;
  padding: 10px;
}

::placeholder {
  text-align: center;
}
